*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border:0;
}

.nav-warpper{
	height: 110px;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 2;
	background: rgba(64,64,64,0.98);
	box-shadow: 0 3px 2px #000;
}

.nav-warpper .title-warpper{
	text-align: left;
	position: relative;
}

.nav-warpper .title-warpper p{
	font-family: 'Questrial', sans-serif;
	line-height: 20px;
	position: absolute;
	color: rgb(0,176,240);
}

.nav-warpper .title-warpper h1 a{
	text-decoration: none;
	font-family: 'Abril Fatface', cursive;
	font-weight: normal;
	font-size: 60px;
	color: white;
	display: block;
}

.nav-warpper .title-warpper h1 a:hover,.nav-warpper .nav li a:hover{
	color: rgb(0,176,240);
}

.nav-warpper .nav{
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.nav-warpper .nav li a{
	padding-left: 30px;
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

.nav-warpper .nav #courses{
	background: url(../images/icon/courses_24px.png) no-repeat left;
}

.nav-warpper .nav #science{
	background: url(../images/icon/science_24px.png) no-repeat left;
}

.nav-warpper .nav #international{
	background: url(../images/icon/international_24px.png) no-repeat left;
}

.nav-warpper .nav #master{
	background: url(../images/icon/master_24px.png) no-repeat left;
}

.nav-warpper .nav #life{
	background: url(../images/icon/life_24px.png) no-repeat left;
}

.nav-warpper .nav #alumni{
	background: url(../images/icon/alumni_24px.png) no-repeat left;
}

.nav-warpper .logo-warpper img{
	width: 180px;
	height: 180px;
}



.volumn-setter{
	height: 110px;
	width: 100%;
}

header{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: -2;
	background-color: #EBE7DE;
}

header .header-img{
	width: 100%;
	height: auto;
}

header .header-img-tinder{
	height: 150px;
	width: 500px;
	position: absolute;
	left: 20%;
	top: 45%;
	margin-left: -250px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

header .header-img-tinder .quote{
	font-weight: bold;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	height: 40px;
	
} 

header .header-img-tinder .quote-r{
	text-align: right;
}

header .header-img-tinder h2{
	font-weight: normal;
	font-size: 30px;
	font-family: sans-serif;
}

.course-warpper{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: -1;
	background-color: #000;
}


.course-warpper img{
	width: 100%;
	height: auto;
	opacity: 0.6;
	position: relative;
}

.course-warpper .tinder-warpper{
	width: 80%;
	height: 60%;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 50%;
	margin-top: -10%;
	left: 10%;
	display: flex;
	align-items: center;
}

.course-warpper .tinder-warpper .title-warpper{
	text-align: center;
	width: 20%;
	position: absolute;
	left: 5%;
}

.course-warpper .tinder-warpper .title-warpper h3{
	font-size: 5vw;
	color: white;
}

.course-warpper .tinder-warpper .title-warpper p{
	font-size: 3vw;
	color: white;
}

.course-warpper .tinder-warpper .line{
	width: 2px;
	height: 80%;
	background-color: white;
	position: absolute;
	left: 30%;
}

.course-warpper .tinder-warpper .content-warpper{
	position: absolute;
	left: 45%;
}

.course-warpper .tinder-warpper .content-warpper li{
	line-height: 3vw;
	font-size: 2vw;
	color: white;
	width: 50vw;
}


.research-warpper{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: 0;
	background-color: #fff;
}

.research-warpper .tinder-warpper{
	height: 20%;
	background: gray;
}


.research-warpper .img-window-warpper{
	height: 80%;
	display: flex;
	background: #000;
}

.research-warpper .img-window-warpper .img-window{
	flex-grow: 1;
	background-size: cover;
	transition: flex-grow .3s ease-in-out, opacity .3s ease-in-out;
	opacity: .6;
	margin-right: 1px;
}

.research-warpper .img-window-warpper .img-window.cell{
	background: url(../images/background/cell-words.png) center center no-repeat;
}

.research-warpper .img-window-warpper .img-window.electronic{
	background: url(../images/background/electronic-words.png) center center no-repeat;
}

.research-warpper .img-window-warpper .img-window.informatics{
	background: url(../images/background/informatics-words.png) center center no-repeat;
}

.research-warpper .img-window-warpper .img-window.mechanics{
	background: url(../images/background/mechanics-words.png) center center no-repeat;
}

.research-warpper .img-window-warpper .img-window.material{
	background: url(../images/background/material-words.png) center center no-repeat;
}

.research-warpper .img-window-warpper .img-window:hover{
	flex-grow: 20;
	opacity: 1;
}